<div class="header">
    <h2>To Do List</h2>
    <input #mainInput type="text" (keydown.enter)="addItem()" [formControl]="action" placeholder="To do...">
    <button (click)="addItem()" class="addBtn" [disabled]="action.invalid">Add</button>
  </div>

  <div class="sort">
      <button (click)="filter(undefined)">All</button>
      <button (click)="filter(true)">Done</button>
      <button (click)="filter(false)">To Do</button>
  </div>

<ul [formGroup]="description">
    <div *ngFor="let item of items">
        <li [ngClass]="{checked:item.checked}">
            <input #listInput type="text" formControlName={{item.action}}>
            <button class="check" (click)="check(item.id, $event)" [ngClass]="{checked:item.checked}"></button>
            <button class="edit" (click)="edit(item.action, $event)">Edit</button>
            <button class="close" (click)="removeItem(item.id, $event)">x</button>
        </li>
    </div>
</ul>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageIndex]="currentPage"
              (page)="getItems($event)">
</mat-paginator>