* {
    box-sizing: border-box;
  }
  
  ul {
    padding: 0;
    margin-top: 30px;
    margin-left: 9%;
    margin-right: 9%;
  }
  
  ul li {
    position: relative;
    margin-top: 15px;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style-type: none;
    border-radius: 10px;
    border: 3px;
  }

  li input {
    margin-top: -7px;
  }
  
  ul li:nth-child(odd), li:nth-child(odd) input {
    background: #c4e4fb;
  }
  
  ul li.checked, li.checked input {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  ul li.checked::before, li.checked::before input {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }
  
  .header {
    background-color: #36a5f4;
    margin-right: 5%;
    margin-left: 5%;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
  }
  
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  .header input {
    border-radius: 10px;
    background-color: white;
  }
  
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  .addBtn {
    padding: 8px 10px 8px 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    background-color: white;
    border-color: #36a5f4;
  }
  
  .addBtn:hover {
    background-color: #9cd6ff;
  }

  .sort {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    max-width: 92%;
    margin: auto;
    margin-top: 40px;
  }

  .sort button {
    padding: 8px 10px 8px 10px;
    width: 30%;
    margin-left: 21px;
    background: white;
    color: #555;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    border-color: #36a5f4;
    margin-left: 10px;
    margin-right: 10px;
  }

  .sort button:hover {
    background-color: #9cd6ff;
  }

  .check {
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    margin-left: -74%;
    cursor: pointer;
  }

  .check:hover {
    background-color: #11da33;
    color: white;
  }

  .check.checked {
    background-color: #11da33;
  }

  mat-paginator {
    justify-content: center;
    display: flex;
  }