* {
  box-sizing: border-box;
  outline: none;
}

.header {
  background-color: #36a5f4;
  margin-right: 5%;
  margin-left: 5%;
  padding: 30px 40px;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

.header input {
  border-radius: 10px;
  background-color: white;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

form input {
  max-width: 70%;
}

.addBtn {
  margin-left: 52px;
  padding: 10px 10px 10px 10px;
  width: 25%;
  background: #d9d9d9;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

input.addBtn:hover {
  background-color: #9cd6ff;
}